<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #205c8d;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-family: 'Wendy One', sans-serif; color: white; font-size: 2em; letter-spacing: 2px;">
        S<span style="color: orange;">o</span>cial P<span style="color: orange;">o</span>stal
      </a>
    </div>
    <button type="button" class="btn btn-warning btn-xs navbar-btn navbar-right" ng-click="signOut();">Sign Out</button>
    <p class="navbar-text navbar-right" style="color: white;">Signed in as <span style="color: orange; text-decoration: none;">{{user.email}}</span>&nbsp;&nbsp;&nbsp;</p>
  </div>
</nav>
